body {
  background-color: red;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  height: 101px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
